{% extends 'temp/userext.html' %}
{% block base %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charging Menu</title>
</head>
<body>
<div align="center">

<form name="" method="post">
     {% csrf_token %}
    <h2>
        Select Amount
    </h2><br>

    <select name="amount" required="">
        <option value="100">Rs.100</option>
        <option value="200">Rs.200</option>
        <option value="300">Rs.300</option>
        <option value="400">Rs.400</option>
        <option value="500">Rs.500</option>
    </select><br><br>
    <input type="submit" value="Make Payment">
</form>
</div>
</body>
</html>


{% endblock %}