{% extends 'temp/service-center.html' %}
{% block base %}




<!DOCTYPE html>
<html>
  <head>
    <title>View service requests</title>

  </head>
  <body>
    <center>
      <h1>View service requests</h1>

      <table border="2" cellspacing="0" cellpadding="10" >
        <tr>
          <th>Username</th>
          <th>Location</th>
          <th>Status</th>
        </tr>
          {% for i in tt %}

        <tr>
          <td>{{ i.u_id }}</td>
          <td>{{ i.location }}</td>
            <td>{{ i.status }}</td>
            <td><a href="{% url 'approve' idd=i.sr_id %}">Approve</a> </td>
            <td><a href="{% url 'rejected' idd=i.sr_id %}">Reject</a></td>
        </tr>
          {% endfor %}
      </table>
    </center>
  </body>
</html>
{% endblock %}
