{% extends 'temp/admin.html' %}
{% block base %}




<!DOCTYPE html>
<html>
  <head>
    <title>View Station</title>


  </head>
  <body>
    <center>
      <h1>View Station</h1>
      <br /><br />
      <table border="1" cellpadding="5px" cellspacing="0">
        <tr>
            <th>Station Id</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Station Name</th>
          <th>Location</th>
        </tr>
          {% for i in n %}
        <tr>
          <td>{{ i.s_id }}</td>
          <td>{{ i.address }}</td>
          <td>{{ i.phone }}</td>
          <td>{{ i.email }}</td>
          <td>{{ i.s_name }}</td>
        <td>{{ i.location }}</td>
        </tr>

           {% endfor %}
      </table>
    </center>
  </body>
</html>
{% endblock %}